*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;

  @include font(14px, 18px, $txt-color);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
