@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin oswald-upper {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

@mixin font($font-size, $line-height, $color: #000000) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin caption($font-size, $line-height) {
  font-family: "Oswald", sans-serif;

  @include font($font-size, $line-height);
}
