$txt-color: #444444;
$txt-name: #222222;
$basic-grey: #f2f2f2;
$special-grey: #eaeaea;
$dark-grey: #111111;
$basic-green: #68b738;
$basic-green85: rgba(104, 183, 56, 0.85);
$border-grey: #cdcdcd;
$decor-grey: #666666;

