.giftbox {
  display: grid;
  text-align: center;
  background-color: $basic-green85;
}

.giftbox__text {
  @include font(16px, 20px, #ffffff);

  &::before {
    @include pseudoblock;
    width: 78px;
    height: 80px;
    background: url("../../icons/stack.svg#gift") no-repeat center;
  }
}
