.main-footer__title {
  @include oswald-upper;
  @include font(16px, 20px, $dark-grey);

  @media (min-width: $tablet) {
    @include font(20px, 26px, $dark-grey);
  }
}

.main-footer__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.main-footer__contacts {
  background-color: $basic-grey;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.main-footer__copyright {
  display: flex;
  min-height: 34px;

  @include font(16px, 20px, $txt-color);
}

.main-footer__copyright::after {
  @include pseudoblock;
  width: 27px;
  background-color: $decor-grey;
  mask-image: url("../../icons/stack.svg#html-academy");
}
