.main-header {
  @include flex-between;
  padding-block: 13px;
  position: relative;

  @media (width < $tablet) {
    border-bottom: 1px solid $bottom-grey;
  }

  @media (min-width: $tablet) {
    padding-block: 25px;
  }

  @media (min-width: $desktop) {
    padding-block: 55px;
  }
}

.main-header--index {
  @media (min-width: $desktop) {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.main-header__logo {
  @include flex-between;
  width: calc(50% + 50px);

  @media (min-width: $tablet) {
    gap: 13px;
    width: auto;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.main-header__logo-txt {
  @media (min-width: $desktop) {
    width: 118px;
    height: 21px;
  }
}

@media (width < $tablet) {
  .main-header:has(.main-nav__list--nojs) {
    padding: 0;
    flex-direction: column;
    align-items: stretch;

    & .main-header__logo {
      padding: 13px 0 13px 20px;
    }
  }
}
