.main-footer__title {
  @include oswald-upper;
  @include font(16px, 20px, $dark-grey);

  @media (min-width: 768px) {
    @include font(20px, 26px, $dark-grey);
  }
}

.main-footer__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.main-footer__contacts {
  background-color: $basic-grey;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-footer__copyright {
  @include font(16px, 20px, $txt-color);
}
