.promo {
  display: grid;
  font-family: "Oswald", sans-serif;
  text-align: center;
  justify-items: center;
  color: #ffffff;
  background-color: $basic-green85;

  @media (min-width: $tablet) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    background-color: #4e4e52;
    background-image: linear-gradient(to right, #ffffff 50%, $basic-green85 50%), url("../../images/promo-bg-desktop@1x.jpg");
    background-position: top right;
    padding: 145px 110px 52px;
    grid-template-columns: 50% 1fr;

    & > *:not(picture) {
      margin-inline: 80px;
    }
  }
}

.promo__title {
  margin-bottom: 25px;

  @include font(36px, 1, #ffffff);

  @media (min-width: $tablet) {
    @include font(60px, 60px);
  }
}

.promo__slogan {
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font(20px, 20px);
  }
}
