.results {
  background-color: $special-grey;
}

.results__title {
  @include caption(36px, 40px);

  @media (min-width: 768px) {
    @include caption(60px, 60px);
  }
}

.results__name {
  @include font(12px, 12px, $txt-color);

  @media (min-width: 768px) {
    @include font(14px, 14px, $txt-color);
  }
}

.results__value {
  @include oswald-upper;
  @include font(24px, 24px);

  @media (min-width: 768px) {
    @include font(30px, 37px);
  }
}

.results__cost {
  display: flex;

  @include oswald-upper;
  @include font(14px, 20px);

  @media (min-width: 768px) {
    @include font(20px, 20px);
  }
}
