.social {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-block: 20px;
  width: 280px;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    border-block: 1px solid $bottom-grey;
  }
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  width: 28px;
  height: 22px;
  background-color: $decor-grey;
}

.social__link--vk {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--yt {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--tg {
  mask-image: url("../../icons/stack.svg#telegram");
}

