.social {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-block: 19px;
  width: 280px;
  flex-wrap: wrap;

  @media (width < $tablet) {
    border-block: 1px solid $bottom-grey;
  }

  @media (min-width: 768px) {
    margin-left: 35px;
  }
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  width: 28px;
  height: 22px;
  background-color: $decor-grey;

  &:hover,
  &:focus-visible {
    background-color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--yt {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--tg {
  mask-image: url("../../icons/stack.svg#telegram");
}
